@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "./base.pcss";
@import "./me.pcss";
@import "./post.pcss";
@import "./sections/post-types.pcss";
@import "./sections/pagination.pcss";
