<article class="post h-entry {{ postType }}">
  <div class="post-icon">
    {% icon icon %}
  </div>
  <div class="post-details">
    {% if postType === "reply" %}
      {% include "partials/reply.njk" %}
    {% elseif postType === "bookmark" %}
      {% include "partials/bookmark.njk" %}
    {% elseif postType === "checkin" %}
      {% include "partials/checkin.njk" %}
    {% elseif title %}
      <p class="p-name post-title">
        {{ title }}
      </p>
    {% endif %}
    {% if summary %}
      <p class="p-summary">{{ summary }}</p>
    {% endif %}
    {% if photo %}
      <p>
        {% postResponsiveImage photo %}
      </p>
    {% endif %}
    {% if content %}
      {% include "partials/content.njk" %}
    {% endif %}
    <div class="post-meta">
      {% include "partials/permalink.njk" %}
      <p class="tags">
        {% icon "tag" %}
        {% for tag in tags | visibleTags %}
          <a href="{{ tag | tagUrl }}" class="p-category" title="All posts tagged &quot;{{tag}}&quot;">{{tag}}</a>
        {% endfor %}
      </p>
      <p class="author p-author h-card">
        {% profileResponsiveImage me.photo %}
        <a href="/" class="u-url p-name">{{ me.name }}</a>
      </p>
    </div>
  </div>
</article>