<ul class="activity-stats">
  <li>
    <span class="label">Distance</span>
    <span class="value">{{ activity.distance }}</span>
  </li>
  <li>
    <span class="label">Moving time</span>
    <span class="value">{{ activity.time.moving }}</span>
  </li>
  <li>
    <span class="label">Speed (avg)</span>
    <span class="value">{{ activity.speed.average }}</span>
  </li>
  <li>
    <span class="label">Elevation</span>
    <span class="value">{{ activity.elevation }}</span>
  </li>
  <li>
    <span class="label">Temperature</span>
    <span class="value">{{ activity.temperature }}</span>
  </li>
  <li>
    <span class="label">Elapsed time</span>
    <span class="value">{{ activity.time.elapsed }}</span>
  </li>
  <li>
    <span class="label">Speed (max)</span>
    <span class="value">{{ activity.speed.max }}</span>
  </li>
  <li>
    <span class="label">Bike</span>
    <span class="value">{{ activity.bike }}</span>
  </li>
</ul>