<ul class="activity-stats">
  <li>
    <span class="label">Distance</span>
    <span class="value">{{ activity.distance }}km</span>
  </li>
  <li>
    <span class="label">Moving time</span>
    <span class="value">{{ activity.time.moving }}</span>
  </li>
  <li>
    <span class="label">Speed (avg)</span>
    <span class="value">{{ activity.speed.average }}km/h</span>
  </li>
  <li>
    <span class="label">Elevation</span>
    <span class="value">{{ activity.elevation }}m</span>
  </li>
  <li>
    <span class="label">Temperature</span>
    <span class="value">{{ activity.temperature }}&deg;C</span>
  </li>
  <li>
    <span class="label">Elapsed time</span>
    <span class="value">{{ activity.time.elapsed }}</span>
  </li>
  <li>
    <span class="label">Speed (max)</span>
    <span class="value">{{ activity.speed.max }}km/h</span>
  </li>
  <li>
    <span class="label">Bike</span>
    <span class="value">{{ activity.bike }}</span>
  </li>
</ul>