{% set startDate = reply.date.start | toDate %}

<p class="post-title">
  {% if reply.rsvp %}
    <data class="p-rsvp" value="{{ reply.rsvp }}"></data>
    {{ reply.rsvp | rsvpText}}
  {% endif %}
  <a href="{{reply.url}}" class="u-in-reply-to">{{ reply.name }}</a>
  {% if startDate %}
    <br/>
    <span class="reply-date">
      on
      <time datetime="{{ startDate | isoDate }}" class="dt-start">
        {{ startDate | justDate }}
      </time>
    </span>
  {% endif %}
</p>