.post-type-tag-links {
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-grey);
  border-radius: var(--rounding);
  margin-bottom: 2rem;

  a {
    display: block;
    margin: 0.5rem 0.5rem;
    text-decoration: none;

    .icon {
      color: var(--grey);
    }
  }

  p {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem -0.5rem;
  }
}
