.post-type-tag-links {
  @apply px-4 py-2 border border-lightGrey rounded-md mb-8;

  p {
    @screen md {
      @apply flex justify-between flex-row;
    }
  }

  a {
    @apply block my-2 no-underline;

    .icon {
      @apply text-grey;
    }
  }
}
