---
layout: base
eleventyNavigation:
  key: Home
  order: 1
pagination:
  data: collections.posts
  size: 15
  reverse: true
permalink: "{{ pagination.pageNumber | indexPaginationPermalink }}"
---

<main>
  {% include "h-card.njk" %}
  {% include "post-type-tag-links.njk" %}
  <h2>Feed</h2>
  <hr/>
  {% for post in pagination.items %}
    {% include "feed-post.njk" %}
  {% endfor %}
  {% include "pagination.njk" %}
</main>