---
layout: base
styles:
  - post
---
<main class="feed">
  {{ content | safe }}
  <div class="h-feed">
    {% for post in collections[collection] | reverse %}
      {% include "feed-post.njk" %}
    {% endfor %}
  </div>
</main>